@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all 0.2s ease-in-out;
}

body::-webkit-scrollbar {
    width: 4.5px;
    height: 4.5px;
}
body::-webkit-scrollbar-thumb {
    box-shadow: none;
    background-color: grey;
    border-radius: 4.5px;
}
body::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
    border-radius: 10px;
    background-color: transparent;
}
.partner-slide {
    perspective: 100px;
}
.partner-slide-track {
    width: calc(250px * 16);
    animation: scroll 40s linear infinite;
}
.partner-slider::before,
.partner-slider::after {
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.partner-slider::before {
    left: 0;
    top: 0;
}
.partner-slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 8));
    }
}
