@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all 0.2s ease-in-out;
}

body::-webkit-scrollbar {
    width: 4.5px;
    height: 4.5px;
}
body::-webkit-scrollbar-thumb {
    box-shadow: none;
    background-color: grey;
    border-radius: 4.5px;
}
body::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
    border-radius: 10px;
    background-color: transparent;
}
